body{-webkit-font-smoothing: antialiased; min-width: 1400px;}

em,
i{font-style: normal;}

button{background: transparent;margin: 0;padding: 0;border: 0;border-radius: 0;font-size: 1em;line-height: 0;}

ul,
ol,
li{list-style: none;padding: 0;margin: 0;}

img{max-width: 100%;}

textarea{ resize: none;}

.card{box-shadow: $box-shadow;}

// icons
[class^=icon-]{display: inline-block;vertical-align: middle;background-repeat: no-repeat;background-position: 50% 50%;}
.icon-logout{width: 30px;height: 30px; background-image: url('../images/icon-logout.svg');}
.icon-home{width: 13px; height:13px; background-image:url('../images/icon-home.png');}
.icon-arrow-gray{width: 20px; height:20px; background-image:url('../images/icon-arrow-next-gray5.png');}
.icon-select-top{width: 20px; height:20px; background-image:url('../images/icon-select.png'); background-position: 0 7px;}
.icon-select-bottom{width: 20px; height:20px; background-image:url('../images/icon-select.png');background-position: 0 -7px;}
.icon-paging-first{width: 30px; height:30px; background-image:url('../images/icon-paging-first.png');}
.icon-paging-prev{width: 24px; height:24px; background-image:url('../images/icon-paging-prev.png');}
.icon-paging-next{width: 24px; height:24px; background-image:url('../images/icon-paging-next.png');}
.icon-paging-end{width: 30px; height:30px; background-image:url('../images/icon-paging-end.png');}

.icon-plus{width: 12px; height:12px; background-image:url('../images/icon-plus.png');}
.icon-minus{width: 12px; height:2px; background-image:url('../images/icon-minus.png');}

// aside icon
.icon-gnb-dash{width: 22px; height:22px; background-image:url('../images/icon_gnb01.svg');}
.icon-gnb-system{width: 22px; height:22px;background-image:url('../images/icon_gnb02.svg');}
.icon-gnb-price{width: 22px; height:22px; background-image:url('../images/icon_gnb03.svg');}
.icon-gnb-record{width: 22px; height:22px;background-image:url('../images/icon_gnb04.svg');}
.icon-gnb-user{width: 22px; height:22px;background-image:url('../images/icon_gnb05.svg');}

// icons -- end

//width
.min-width-400px{min-width: 400px;}


// line
.dash-line{ width: 100%; height: 1px; background-color: $black; margin: 1.8rem 0;}

// pagination
.pagination-wrap{
    margin-top: 4.4rem;
}
.custom-pagination{
    .page-item{ padding: 0 5px;}
    .page-link{
        width:41px; height:41px; padding: 0; color: #282929; display: inline-block; display:flex; align-items: center; justify-content: center;
        &.active{
            color: $white; background-color: $black;
        }
    }
}

// table
.table-container{
    .table-container__total{ display: flex; align-items: center; justify-content: space-between; margin-bottom: 10px;
       p{ margin-bottom: 0;}
    }
}
.custom-table{
    thead{ border-top: 1px solid $black;}
    th{padding: 15px 0; font-size: 13px; font-weight: 700; vertical-align: middle;}
    td{padding: 27px 0; font-size: 14px; font-weight: 400; color: $gray-500;}
    >:not(:first-child){
        border-top: 0;
    }
    a{
        text-decoration: none;
        &:hover{ color:$primary; text-decoration: underline;}
    }
}

//button
.btn{font-weight: 700;}
.btn-check:checked+.btn-gray4, .btn-check:active+.btn-gray4, .btn-gray4:active, .btn-gray4.active, .show>.btn-gray4.dropdown-toggle{
    background-color: $black; border-color: $black; box-sizing: 0;
}

//select multiple
.form-select[multiple]{opacity: 0;}
.dashboardcode-bsmultiselect{
    .dropdown-menu{padding: .5rem;}
    .btn-close{margin-left: 3px;}
    .form-control{
        border-color: $input-border-color;font-weight: 400;position: relative;padding-right: $form-select-indicator-padding;overflow: hidden;
        &::before{content: '';width: 50px;height: 100%;background: #fff;position: absolute;right: 0;top: 0;}
        &::after{border: 0;content: '';background-image: escape-svg($form-select-custom-indicator);background-size: 16px 12px;background-position: 0 0;background-repeat: no-repeat; width: 16px;height: 16px;background-size: 16px 12px;position: absolute;top: 50%;right: 1rem;transform: translateY(-50%);}
        &::placeholder{color: #000;}
    }
}

// form
.form-wrap{
    >.row>.col-auto{
        label{
            margin-top: 10px; width: 155px;
        }
    }
    .text-danger{ margin-top: 2px; font-size: 13px; line-height: 24px;}
}
@media screen and (max-width: 1500px) {
    .form-wrap{
        >.row>.col-auto{
            label{
                width: 100px;
            }
        }
    }   
}

// modal
.modal-content{
    border-radius: 20px;
}
.modal-header{
    padding: 28px 30px; border-bottom: 0; font-size: 19px;
    .modal-title{ font-weight: bold;}
    .btn-close{ opacity: 1; }
}
.modal-body{
    padding: 0 30px;
    .modal-body__desc{
        font-size: 15px; color: $gray-700;
    }
    textarea{
        width: 100%; height: 120px; border-radius: 6px; background-color: $gray-100; border:1px solid $gray-200; margin-top: 20px;
    }
}
.modal-footer{
    padding: 40px 30px 30px; border-top: 0;
}


//rounded
.rounded-lg{
    border-radius: 1.25rem;
}