body{-webkit-font-smoothing: antialiased; min-width: 1400px;}

em,
i{font-style: normal;}

button{background: transparent;margin: 0;padding: 0;border: 0;border-radius: 0;font-size: 1em;line-height: 0;}

ul,
ol,
li{list-style: none;padding: 0;margin: 0;}

img{max-width: 100%;}

.card{box-shadow: 0 .375rem .375rem 0 rgba(0, 0, 0, 0.05);}

// icons
<<<<<<< HEAD
.icon-home{width: 13px; height:13px; display: inline-block; background:url('../images/icon-home.png') 50% 50% no-repeat;}
.icon-arrow-gray{width: 20px; height:20px; display: inline-block; background:url('../images/icon-arrow-next-gray5.png') 50% 50% no-repeat;}
.icon-select-top{width: 20px; height:20px; display: inline-block; background:url('../images/icon-select.png') 0 7px no-repeat;}
.icon-select-bottom{width: 20px; height:20px; display: inline-block; background:url('../images/icon-select.png') 0 -7px no-repeat;}
.icon-paging-first{width: 30px; height:30px; display: inline-block; background:url('../images/icon-paging-first.png') 50% 50% no-repeat;}
.icon-paging-prev{width: 24px; height:24px; display: inline-block; background:url('../images/icon-paging-prev.png') 50% 50% no-repeat;}
.icon-paging-next{width: 24px; height:24px; display: inline-block; background:url('../images/icon-paging-next.png') 50% 50% no-repeat;}
.icon-paging-end{width: 30px; height:30px; display: inline-block; background:url('../images/icon-paging-end.png') 50% 50% no-repeat;}

// aside icon
.icon-gnb-dash{width: 22px; height:22px; display: inline-block; background:url('../images/icon_gnb01.svg') 50% 50% no-repeat;}
.icon-gnb-system{width: 22px; height:22px; display: inline-block; background:url('../images/icon_gnb02.svg') 50% 50% no-repeat;}
.icon-gnb-price{width: 22px; height:22px; display: inline-block; background:url('../images/icon_gnb03.svg') 50% 50% no-repeat;}
.icon-gnb-record{width: 22px; height:22px; display: inline-block; background:url('../images/icon_gnb04.svg') 50% 50% no-repeat;}
.icon-gnb-user{width: 22px; height:22px; display: inline-block; background:url('../images/icon_gnb05.svg') 50% 50% no-repeat;}

=======
[class^=icon-]{display: inline-block;vertical-align: middle;background-repeat: no-repeat;background-position: 50% 50%;}
.icon-logout{width: 30px;height: 30px; background-image: url('../images/icon-logout.svg');}
.icon-home{width: 13px; height:13px; background-image:url('../images/icon-home.png');}
.icon-arrow-gray{width: 20px; height:20px; background-image:url('../images/icon-arrow-next-gray5.png');}
.icon-select-top{width: 20px; height:20px; background-image:url('../images/icon-select.png')t; background-position: 0 7px;}
.icon-select-bottom{width: 20px; height:20px; background-image:url('../images/icon-select.png');background-position: 0 -7px;}
.icon-paging-first{width: 30px; height:30px; background-image:url('../images/icon-paging-first.png');}
.icon-paging-prev{width: 24px; height:24px; background-image:url('../images/icon-paging-prev.png');}
.icon-paging-next{width: 24px; height:24px; background-image:url('../images/icon-paging-next.png');}
.icon-paging-end{width: 30px; height:30px; background-image:url('../images/icon-paging-end.png');}
>>>>>>> kim
// icons -- end

// select

// page nav
.page-nav{
    display: flex; align-items: center;
    .page-nav__dapth{
        font-size: 14px; color: $gray-500; position: relative; padding-right: 1.25rem;
        &.active{ color: $black;}
        &::after{
            content: ""; position: absolute; width: 20px; height:20px; display: inline-block; background:url('../images/icon-arrow-next-gray5.png') 50% 50% no-repeat;
        }
        &:last-child{
            padding-right: 0;
            &::after{ content: none;}
        }
    }
}
// pagination
.custom-pagination{
    .page-item{ padding: 0 5px;}
    .page-link{
        width:41px; height:41px; padding: 0; color: #282929; display: inline-block; display:flex; align-items: center; justify-content: center;
        &.active{
            color: $white; background-color: $black;
        }
    }
}

//button
.btn{font-weight: 700;}