// Model capacity
.modal-btn-group {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    margin: 0 -4px;

    .btn {
        margin: 4px;
    }
}

// card
.card-data__content {
    .form-control[readonly] {
        background-color: #fff;
    }
}

//모달 : 가격데이터 미리보기 입력
.modal-pricedata {
    &__model {
        font-size: 32px;
    }

    &__promImg {
        height: 215px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__price {
        font-size: 32px;
        line-height: 22px;
    }
}

.image-delete-btn {
    position: absolute;
    top: -12px;
    right: 10px;
    display: none;
}

.upload-image-wrap {
    background: url(../images/default-image.png)no-repeat center;
    background-size: cover;
    height: 12vw;
    min-height: 220px;
    img {
        width: 100%;
        object-fit: contain;
        height: 12vw;
        min-height: 220px;
    }
}


.badge{
    font-weight: 500;
    color:$gray-600;
    height: 22px;
    vertical-align: middle;
    padding: 5px 5px 2px 5px;
    &.badge-review{
        background-color: #F5F7FE;
    }
    &.badge-require{
        background-color: #F7F5F2;
    }
}


.dashboard-list{
    li{
        padding:25px 0;
        & + li {
            border-top:1px solid $input-border-color;
        }
    }
}

.active-device{
    height: 249px;
    .title-image{
        width: 45px;
        height: 45px;
        background-position: center;
        background-size: cover;
        &.total-users{
            background-image: url(../images/icon-dashboard-total-users.svg);
        }
        &.recent-users{
            background-image: url(../images/icon-dashboard-recent-users.svg);
        }
        &.models{
            background-image: url(../images/icon-dashboard-models.svg);
        }
        &.channels{
            background-image: url(../images/icon-dashboard-channels.svg);
        }
    }
    b{
        margin-top: 1rem;
        font-size: 15px;
    }
    strong{
        margin-top: 0.5rem;
        font-size: 32px;
    }
    &:hover{
        color:$white;
        background-color: $primary;
        .title-image{
            &.total-users{
                background-image: url(../images/icon-dashboard-total-users-white.svg);
            }
            &.recent-users{
                background-image: url(../images/icon-dashboard-recent-users-white.svg);
            }
            &.models{
                background-image: url(../images/icon-dashboard-models-white.svg);
            }
            &.channels{
                background-image: url(../images/icon-dashboard-channels-white.svg);
            }
        }
    }
}

#chart-usage{
    margin-left: -4px;

}
#chart-channel{
    width: 100%;
}

.modal-datepicker{
    max-width: 850px; min-height: 527px; margin: 0 auto; background-color: #f5f5f5; top: 50%; transform: translateY(-50%) !important; border-radius: 16px;
    .modal-content{
        border:0; background-color: #f5f5f5;
    }
    .modal-body{
        padding: 0 20px;
    }
}
.date-picker-wrapper{
    width: 100%; border: 0; background-color: #f5f5f5; padding: 0;
    .drp_top-bar{display: none;}
    .gap{display: none;}
    .month-wrapper {
        width: 100% !important; background-color: #f5f5f5; border: 0; padding: 0;
        table{
            width: 47% !important;
            .day{
                padding: 0;  font-size: 18px !important; 
                &.checked{
                    position: relative; z-index: 1; color: $primary !important;
                   &::after{
                       content: ""; position: absolute;
                       top: 0; left: 0;  background-image: url('../images/select-bg.png'); background-size: cover;
                       width: 55px; height: 41px; z-index: -1;
                   }
                }
                &.hovering{
                    background-color: #fff !important;
                }
                &.first-date-selected, &.last-date-selected{
                    background-color: $primary !important; color: #fff !important;
                    &::after{
                        content: none !important;
                    }
                }
            }    
            th{ font-size: 18px; color: #1F1F1F;}    
            td{
                width: 50px !important; height: 44px !important; padding: 2px; 
                >div{
                    width: 100%; height:100%; display: flex; align-items: center; justify-content: center;border-radius: 6px; background-color: #fff;
                }
            }
            .week-name{
                th{padding: 25px 0;}
            }
            .select-wrapper{
                width: 50px; height:35px; line-height: 35px;
                select{width: 100%; text-align: center; padding: 5px 0;}
            }
            .next, .prev{
               width:44px; height:44px; background-color: $white; color: $black; display: flex; align-items: center; justify-content: center; border-radius: 50%;
            }
        }
        .month1{margin-right: 24px;}
        .month2{margin-left: 24px;}
    }

}


// text checkbox
.days + .btn{
    color:$gray-500;
}
.days + .btn:focus{
    border-color: transparent; box-shadow: none;
}
.days:checked + .btn{
    color:$black;
}