#header{width: 100%; height:90px; padding-left: 28px;padding-right: 28px; position: fixed; top: 0; z-index: 1052; background-color:  var(--bs-body-bg);

    &::before{content: '';width: 40px;height: 40px;background: url('../images/bg-border-radius.png') no-repeat 0 0;position: absolute; left:300px; top: 0;}
    &::after{content:""; width: 300px; height:90px; position: absolute; top: 0; left: 0; background-color: $white; z-index: -1;}
} 
#container{padding-left: 300px;}
#main{padding-left: 28px;padding-right: 28px; padding-bottom: 28px; padding-top:90px;}
#aside{
    width: 300px;position: fixed;background: #fff;top: 0;left: 0;bottom: 0;padding-top: 130px; z-index: 1;
  
    &::before{content: '';width: 40px;height: 40px;background: url('../images/bg-border-radius.png') no-repeat 0 0;position: absolute;right: -40px;top: 0;}
}

.page-title{font-size: 32px;font-weight: 700;height: 40px;overflow: hidden;margin-bottom: 30px;}
.header-title{font-size: 20px;font-weight: 700;}

.navbar{
    width:100%; position: absolute; left: 0; top:50%; transform:translateY(-50%); padding: 0 28px;
    .dropdown-toggle::after{border:0;}
    .dropdown-menu{
        min-width: -webkit-fill-available;
    }
    .container-fluid{
        padding-left:0;
    }
    .navbar-brand{width: 170px;}
}


.breadcrumb{
    i{vertical-align: middle;transform: translateY(-2px);}
    .breadcrumb-item:not(.active){color: $gray-500;}
}

.sidebar-nav{
    padding: 0 30px;
    a{text-decoration: none;}
    > li{
        > a{
            line-height: 2.3;font-weight: 700;font-size: .9375rem;display: inline-flex;align-items: center;
            i{display: inline-block;width: 22px;height: 22px;margin-right: 10px;}
        }
    }
    .second-level{
        padding-left: 32px; display: block;margin: 5px 0;
        > li{
            > a{color: $gray-500; font-size: 12px; display: inline-block; line-height: 1.4;}

            & + li {
                margin-top: 10px;
            }
        }
        > li.active{
            > a{color: $primary;font-weight: 700;}
        }
    }
    .has-treeview{
        margin-bottom: 1rem;
        .icon-select-top{background-position: 0px 8px; margin-right: 0;}
        &.hide{
            .second-level{display: none;}
            .icon-select-top{transform:rotate(180deg);}
        }
        
    }
}
/* 제일기획에서 요청받은 부분 */
html,
body{width: 100%;height: 100vh;}
body{min-width: 0;}
.content-wrapper{
    width: calc(100% + 56px + 1.5rem);height: calc(100vh - 181px - 1rem);margin-left: calc(-28px + -.75rem);overflow: auto;
    > .row{min-width: 1520px;margin: 0;padding: 0 28px 30px;}
}
#main{
    padding-bottom: 0;
}