.login {
    background: $gray-100;
    height: 100%;
    width: 100%;

    .inner {
        width: 1000px;
        margin: 0 auto;
        background: $white;
        padding: 6.25rem;
        border-radius:1.25rem;
        box-shadow:  0 6px 6px 0 rgba(0, 0, 0, 0.05);
        form{
            width: 360px;
            margin: auto;
        }
        h1 {
            margin-bottom: 3rem;
        }
    }
    .vr{
        height:14px;
        align-self: center;
    }
    .btn-check:checked, .btn-check:focus, .btn-check:active, .btn-check:checked + label, .btn-check:focus + label, .btn-check:active + label{
        box-shadow: none!important;
        color:$black!important;
        border-color: transparent!important;
    }
}

.util-wrap {
    padding: 6rem 2rem;

    .util-header {
        strong {font-size: 2rem;}
        b {font-size: 1.25rem; margin-top: 0.25rem;}
    }
    .card-body {
        padding: 60px 43px;
    }
    .option-header{
        font-weight: bold;
        font-size:18px;
        margin-bottom: 30px;
    }
    .option-body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 245px;
        p{
            margin-bottom: 0;
        }
    }
}
