// @font-face {
//     font-family: 'SamsungSharpSans';
//     font-weight: 400;
//     src: url(../fonts/SamsungSharpSans/SamsungSharpSans.eot);
//     src: url(../fonts/SamsungSharpSans/SamsungSharpSans.eot?#iefix) format('embedded-opentype'),
//         url(../fonts/SamsungSharpSans/SamsungSharpSans.otf) format('otf'),
//         url(../fonts/SamsungSharpSans/SamsungSharpSans.ttf) format('truetype'),
//         url(../fonts/SamsungSharpSans/SamsungSharpSans.svg#SamsungSharpSans) format('svg');
// }

@font-face {
    font-family: 'SamsungSharpSans';
    font-weight: 400;
    src: url(../fonts/SamsungSharpSans/SamsungSharpSans-Medium.eot);
    src: url(../fonts/SamsungSharpSans/SamsungSharpSans-Medium.eot?#iefix) format('embedded-opentype'),
        url(../fonts/SamsungSharpSans/SamsungSharpSans-Medium.otf) format('otf'),
        url(../fonts/SamsungSharpSans/SamsungSharpSans-Medium.ttf) format('truetype'),
        url(../fonts/SamsungSharpSans/SamsungSharpSans-Medium.svg#SamsungSharpSans-Medium) format('svg');
}

@font-face {
    font-family: 'SamsungSharpSans';
    font-weight: 700;
    src: url(../fonts/SamsungSharpSans/SamsungSharpSans-Bold.eot);
    src: url(../fonts/SamsungSharpSans/SamsungSharpSans-Bold.eot?#iefix) format('embedded-opentype'),
        url(../fonts/SamsungSharpSans/SamsungSharpSans-Bold.otf) format('otf'),
        url(../fonts/SamsungSharpSans/SamsungSharpSans-Bold.ttf) format('truetype'),
        url(../fonts/SamsungSharpSans/SamsungSharpSans-Bold.svg#SamsungSharpSans-Bold) format('svg');
}