<!DOCTYPE html>
<html lang="ko">

<head>
    @@include('@@webRoot/_include/_head.html')
</head>

<body>
    <div id="wrap">

        @@include('@@webRoot/_include/_header.html')
        <div id="container">
            @@include('@@webRoot/_include/_aside.html')
            <main id="main">
                <div class="container-fluid">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><i class="icon-home"></i></li>
                            <li class="breadcrumb-item">가격 데이터 관리</li>
                            <li class="breadcrumb-item active" aria-current="page">승인 대기 목록</li>
                        </ol>
                    </nav>
                    <h1 class="page-title">승인 대기 목록</h1>
                    <div class="row">
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h2 class="header-title">승인 대기 목록</h2>
                                    <div class="search">
                                        <div class="row gx-2">
                                            <div class="col">
                                                <select class="form-select custom">
                                                    <option selected>Subsidiary</option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <select class="form-select custom" multiple="multiple" placeholder="Country">
                                                    <option value="AR">Arabic</option>
                                                    <option value="EN">English</option>
                                                    <option value="CH">Chinese</option>
                                                    <option value="FR">French</option>
                                                    <option value="DE">German</option>
                                                    <option value="ID">Indonesian</option>
                                                    <option value="MS">Malay</option>
                                                    <option value="LT">Lithuanian</option>
                                                    <option value="PT">Portuguese</option>
                                                    <option value="RU">Russian</option>
                                                    <option value="ES">Spanish</option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <select class="form-select custom" multiple="multiple" placeholder="Channel">
                                                    @@for (var i = 1; i < 10; i++) { <option value="Ch`+i+`">S1-Ch`+i+`</option>
                                                        }
                                                </select>
                                            </div>
                                            <div class="col">
                                                <select class="form-select custom" multiple="multiple" placeholder="Device Model">
                                                    @@for (var i = 1; i < 20; i++) { <option value="Ch`+i+`">Device Model - `+i+`</option>
                                                        }
                                                </select>
                                            </div>
                                            <div class="col-auto">
                                                <button type="button" class="btn btn-secondary">검색</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-container mt-5">
                                        <div class="table-container__total">
                                            <p class="fw-bold">
                                                [총 <span class="text-primary">106</span>건]
                                            </p>
                                        </div>
                                        <table class="table custom-table">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">No</th>
                                                    <th class="text-center">Model</th>
                                                    <th class="text-center"></th>
                                                    <th class="text-center">최근 변경일시</th>
                                                    <th class="text-center">Subsidiary</th>
                                                    <th class="text-center">Country</th>
                                                    <th class="text-center">Channel</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">1</td>
                                                    <td class="text-center">
                                                        <a href="" class="text-gray5">Galaxy S22</a>
                                                    </td>
                                                    <td class="text-center"></td>
                                                    <td class="text-center">2020/07/27 17:59:00</td>
                                                    <td class="text-center">Subsidiary1</td>
                                                    <td class="text-center"></td>
                                                    <td class="text-center text-dark">S1-Ch1</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">2</td>
                                                    <td class="text-center">
                                                        <a href="" class="text-gray5">Galaxy S22</a>
                                                    </td>
                                                    <td class="text-center"></td>
                                                    <td class="text-center">2020/07/27 17:59:00</td>
                                                    <td class="text-center">Subsidiary1</td>
                                                    <td class="text-center"></td>
                                                    <td class="text-center text-dark">S1-Ch1</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">3</td>
                                                    <td class="text-center">
                                                        <a href="" class="text-gray5">Galaxy S22</a>
                                                    </td>
                                                    <td class="text-center"></td>
                                                    <td class="text-center">2020/07/27 17:59:00</td>
                                                    <td class="text-center">Subsidiary1</td>
                                                    <td class="text-center"></td>
                                                    <td class="text-center text-dark">S1-Ch1</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <nav class="pagination-wrap d-flex justify-content-center" aria-label="Page navigation">
                                        <ul class="pagination custom-pagination">
                                            <li class="page-item">
                                                <a class="page-link" href="#"><i class="icon-paging-first"></i></a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="#"><i class="icon-paging-prev"></i></a>
                                            </li>
                                            <li class="page-item"><a class="page-link active" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#"><i class="icon-paging-next"></i></a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="#"><i class="icon-paging-end"></i></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="card h-100">
                                <div class="card-body card-data__content">
                                    <h2 class="header-title">승인 대기 상세</h2>

                                    <form action="" class="form-wrap mt-5">

                                        <div class="row mb-2">
                                            <div class="col-auto">
                                                <label for="" class="d-flex">Model</label>
                                            </div>
                                            <div class="col">
                                                <input type="text" class="form-control" value="Galaxy S22" readonly>
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-auto">
                                                <label for="" class="d-flex">Promotion Image</label>
                                            </div>
                                            <div class="col">
                                                <div class="image-container">
                                                    <img id="preview-image" src="/assets/images/default-image.png">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-auto">
                                                <label for="" class="d-flex">Promotion<br>
                                                    Description</label>
                                            </div>
                                            <div class="col">
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300" readonly>Trade in and save $22.31 Early upgrade with AT&T Next Up</textarea>
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-auto">
                                                <label for="" class="d-flex">Company Name</label>
                                            </div>
                                            <div class="col">
                                                <input type="text" class="form-control" value="AT&T" readonly>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <label for="" class="d-flex">Posting Period</label>
                                            </div>
                                            <div class="col">
                                                <div class="row gx-3 align-items-center">
                                                    <div class="col">
                                                        <input type="text" class="form-control" value="2020/07/27 17:59:00" readonly>
                                                    </div>
                                                    <div class="col-auto">
                                                        <span class="fw-bold"> ~ </span>
                                                    </div>
                                                    <div class="col">
                                                        <input type="text" class="form-control" value="2020/07/27 17:59:00" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- line -->
                                        <div class="dash-line"></div>
                                        <!-- line //-->

                                        <div class="row mb-2">
                                            <div class="col-auto">
                                                <label for="" class="d-flex">Price</label>
                                            </div>
                                            <div class="col">
                                                <div class="row gx-2 gy-2 mb-2">
                                                    <div class="col-auto">
                                                        <button type="button" class="btn btn-sm btn-gray4 text-white active">128G</button>
                                                    </div>
                                                    <div class="col-auto">
                                                        <button type="button" class="btn btn-sm btn-gray4 text-white">256G</button>
                                                    </div>
                                                    <div class="col-auto">
                                                        <button type="button" class="btn btn-sm btn-gray4 text-white">512G</button>
                                                    </div>
                                                    <div class="col-auto">
                                                        <button type="button" class="btn btn-sm btn-gray4 text-white">1TB</button>
                                                    </div>
                                                </div>
                                                <div class="row gx-2 mb-2">
                                                    <div class="col">
                                                        <input type="text" class="form-control" value="Full Pricen" readonly>
                                                    </div>
                                                    <div class="col">
                                                        <input type="text" class="form-control" value="1288.98" readonly>
                                                    </div>
                                                    <div class="col-auto">
                                                        <input type="text" class="form-control width-60px" value="$" readonly>
                                                    </div>
                                                    <div class="row gx-2 mt-2">
                                                        <div class="col">
                                                            <input type="text" class="form-control" value="Price Description" readonly>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row gx-2 gy-2 mb-2 mt-4">
                                                    <div class="col">
                                                        <input type="text" class="form-control" value="Full Pricen" readonly>
                                                    </div>
                                                    <div class="col">
                                                        <input type="text" class="form-control" value="1288.98" readonly>
                                                    </div>
                                                    <div class="col-auto">
                                                        <input type="text" class="form-control width-60px" value="$" readonly>
                                                    </div>
                                                    <div class="col">
                                                        <input type="text" class="form-control" value="24" readonly>
                                                    </div>
                                                    <div class="row gx-2 mt-2">
                                                        <div class="col">
                                                            <input type="text" class="form-control" value="Price Description" readonly>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row gx-2 gy-2 mb-2">
                                                    <div class="col">
                                                        <input type="text" class="form-control" value="Full Pricen" readonly>
                                                    </div>
                                                    <div class="col">
                                                        <input type="text" class="form-control" value="1288.98" readonly>
                                                    </div>
                                                    <div class="col-auto">
                                                        <input type="text" class="form-control width-60px" value="$" readonly>
                                                    </div>
                                                    <div class="col">
                                                        <input type="text" class="form-control" value="Month" readonly>
                                                    </div>

                                                    <div class="row gx-2 mt-2">
                                                        <div class="col">
                                                            <input type="text" class="form-control" value="Price Description" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-5">
                                            <div class="d-flex justify-content-end">
                                                <button type="button" class="btn btn-outline-primary w-auto">미리보기</button>
                                                <button type="button" class="btn btn-gray4 w-auto mx-2" data-bs-target="#modal-companion" data-bs-toggle="modal">반려</button>
                                                <button type="button" class="btn btn-primary w-auto ">승인</button>
                                            </div>
                                        </div>
                                    </form> <!-- form-wrap -->
                                </div> <!-- card-body -->
                            </div>
                        </div>
                    </div>
                </div> <!-- container-fluid -->
            </main> <!-- main -->
        </div>
    </div>
    @@include('@@webRoot/_include/_modal.html')
</body>

</html>