<!DOCTYPE html>
<html lang="ko">

<head>
  @@include('@@webRoot/_include/_head.html')

</head>

<body>
  <div id="wrap">

    @@include('@@webRoot/_include/_header.html')
    <div id="container">
      @@include('@@webRoot/_include/_aside.html')
      <main id="main">
        <div class="container-fluid">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><i class="icon-home"></i></li>
              <li class="breadcrumb-item">가격 데이터 관리</li>
              <li class="breadcrumb-item active" aria-current="page">가격 데이터 등록/관리</li>
            </ol>
          </nav>
          <h1 class="page-title">가격 데이터 등록/관리</h1>
          <div class="content-wrapper">
            <div class="row">
              <div class="col d-none">
                <div class="card h-100">
                  <div class="card-body">
                    <h2 class="header-title">가격 데이터 목록</h2>
                    <div class="search">
                      <div class="row gx-2">
                        <div class="col">
                          <select class="form-select custom" multiple="multiple" placeholder="상태">
                            <option value="Request">승인대기</option>
                            <option value="Approve">승인</option>
                            <option value="Return">반려</option>
                          </select>
                        </div>
                        <div class="col">
                          <select class="form-select custom" placeholder="지법인">
                            <option value="" selected disabled>지법인</option>
                            <option value="">Subsidiary1</option>
                            <option value="">Subsidiary2</option>
                            <option value="">Subsidiary3</option>
                          </select>
                        </div>
                        <div class="col">
                          <select class="form-select custom" multiple="multiple" placeholder="국가">
                            <option value="AR">Arabic</option>
                            <option value="EN">English</option>
                            <option value="CH">Chinese</option>
                            <option value="FR">French</option>
                            <option value="DE">German</option>
                            <option value="ID">Indonesian</option>
                            <option value="MS">Malay</option>
                            <option value="LT">Lithuanian</option>
                            <option value="PT">Portuguese</option>
                            <option value="RU">Russian</option>
                            <option value="ES">Spanish</option>
                          </select>
                        </div>
                        <div class="col">
                          <select class="form-select custom" multiple="multiple" placeholder="채널">
                            @@for (var i = 1; i < 10; i++) { <option value="Ch`+i+`">S1-Ch`+i+`</option>
                              }
                          </select>
                        </div>
                        <div class="col">
                          <select class="form-select custom" multiple="multiple" placeholder="모델명">
                            @@for (var i = 1; i < 20; i++) { <option value="Ch`+i+`">Device Model - `+i+`</option>
                              }
                          </select>
                        </div>
                        <div class="col-auto">
                          <button type="button" class="btn btn-secondary">검색</button>
                        </div>
                      </div>
                    </div>
                    <div class="table-container mt-5">
                      <div class="table-container__total">
                        <p class="fw-bold">
                          [총 <span class="text-primary">106</span>건]
                        </p>
                        <a href="#javascript:void(0)" class="btn btn-xs btn-primary rounded-pill" data-toggle="right-card">신규등록</a>
                      </div>
                      <table class="table custom-table table-hover">
                        <thead>
                          <tr>
                            <th class="text-center">No</th>
                            <th class="text-center">모델명</th>
                            <th class="text-center">지법인</th>
                            <th class="text-center">국가</th>
                            <th class="text-center">채널</th>
                            <th class="text-center">상태</th>
                            <th class="text-center">최근 변경일시</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr data-toggle="right-card">
                            <td class="text-center">1</td>
                            <td class="text-center">Galaxy S22</td>
                            <td class="text-center">Subsidiary1</td>
                            <td class="text-center max-width-250px">country</td>
                            <td class="text-center text-dark">S1-Ch1</td>
                            <td class="text-center">승인</td>
                            <td class="text-center">2020/07/27 17:59:00</td>
                          </tr>
                          <tr data-toggle="right-card">
                            <td class="text-center">1</td>
                            <td class="text-center">Galaxy S22</td>
                            <td class="text-center">Subsidiary1</td>
                            <td class="text-center max-width-250px">country</td>
                            <td class="text-center text-dark">S1-Ch1</td>
                            <td class="text-center">승인</td>
                            <td class="text-center">2020/07/27 17:59:00</td>
                          </tr>
                          <tr data-toggle="right-card">
                            <td class="text-center">1</td>
                            <td class="text-center">Galaxy S22</td>
                            <td class="text-center">Subsidiary1</td>
                            <td class="text-center max-width-250px">country</td>
                            <td class="text-center text-dark">S1-Ch1</td>
                            <td class="text-center">승인</td>
                            <td class="text-center">2020/07/27 17:59:00</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <nav class="pagination-wrap d-flex justify-content-center" aria-label="Page navigation">
                      <ul class="pagination custom-pagination">
                        <li class="page-item">
                          <a class="page-link" href="#"><i class="icon-paging-first"></i></a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#"><i class="icon-paging-prev"></i></a>
                        </li>
                        <li class="page-item"><a class="page-link active" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#"><i class="icon-paging-next"></i></a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#"><i class="icon-paging-end"></i></a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
              <div class="col-7" id="right-card">
                <div class="card h-100">
                  <div class="card-body card-full-scroll">
                    <div class="d-flex align-items-center justify-content-between">
                      <h2 class="header-title">가격 데이터 등록</h2>
                      <a href="#javascript:void(0)" class="tab-close"><i class="icon-plus rotate"></i></a>
                    </div>
                    <form action="" class="form-wrap mt-5">
                      <div class="row mb-2" style="background-color: rgb(255, 247, 247)">
                        <div class="col-auto">
                          <label for="" class="d-flex">**sample</label>
                        </div>
                        <div class="col">
                          <div class="form-control cursor-text" style="height: 40px;">div input text</div>
                          <div class="form-control cursor-text" style="height: 70px">div textarea</div>
                        </div>
                      </div>
                      <div class="row mb-2">
                        <div class="col-auto">
                          <label for="" class="d-flex"><span class="text-primary mx-1">*</span>모델</label>
                        </div>
                        <div class="col">
                          <select class="form-select" aria-label="Default select">
                            <option selected>Galaxy S22</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                        </div>
                      </div>
                      <div class="row mb-2">
                        <div class="col-auto">
                          <label for="" class="d-flex"><span class="text-primary mx-1">*</span>법인</label>
                        </div>
                        <div class="col">
                          <select class="form-select" aria-label="Default select">
                            <option selected>SEA</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                        </div>
                      </div>
                      <div class="row mb-2">
                        <div class="col-auto">
                          <label for="" class="d-flex"><span class="text-primary mx-1">*</span>회사명</label>
                        </div>
                        <div class="col">
                          <select class="form-select" aria-label="Default select">
                            <option selected>AT&T</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-auto">
                          <label for="" class="d-flex"><span class="text-primary mx-1">*</span>게시기간</label>
                        </div>
                        <div class="col">
                          <div class="d-grid gap-2">
                            <select class="form-select" aria-label="Default select">
                              <option selected>AEDT (UTC+11:00)</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                            <div class="row gx-3 align-items-center">
                              <div class="col">
                                <input type="text" class="form-control" id="before-datepicker">
                                <div class="row gx-2 mt-2">
                                  <div class="col">
                                    <select class="form-select form-select-sm d-inline" aria-label="Default select">
                                      <option selected disabled>시</option>
                                      <option value="1">01</option>
                                      <option value="2">02</option>
                                      <option value="3">03</option>
                                    </select>
                                  </div>
                                  <div class="col">
                                    <select class="form-select form-select-sm d-inline" aria-label="Default select">
                                      <option selected disabled>분</option>
                                      <option value="1">01</option>
                                      <option value="2">02</option>
                                      <option value="3">03</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="col-auto">
                                <span class="fw-bold"> ~ </span>
                              </div>
                              <div class="col">
                                <input type="text" class="form-control" id="after-datepicker">
                                <div class="row gx-2 mt-2">
                                  <div class="col">
                                    <select class="form-select form-select-sm d-inline" aria-label="Default select">
                                      <option selected disabled>시</option>
                                      <option value="1">01</option>
                                      <option value="2">02</option>
                                      <option value="3">03</option>
                                    </select>
                                  </div>
                                  <div class="col">
                                    <select class="form-select form-select-sm d-inline" aria-label="Default select">
                                      <option selected disabled>분</option>
                                      <option value="1">01</option>
                                      <option value="2">02</option>
                                      <option value="3">03</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- line -->
                      <div class="dash-line"></div>
                      <!-- line //-->
                      <div class="row g-2 justify-content-end mb-2">
                        <div class="col-auto">
                          <button type="button" class="btn btn-sm btn-outline-primary">양식 다운로드</button>
                        </div>
                        <div class="col-auto">
                          <button type="button" class="btn btn-sm btn-primary" data-bs-target="#modal-preview" data-bs-toggle="modal">업로드</button>
                        </div>
                      </div>
                      <div class="row mb-2">
                        <div class="col-auto">
                          <label for="" class="d-flex">가격 유의사항</label>
                        </div>
                        <div class="col">
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="300"></textarea>
                        </div>
                      </div>
                      <div class="row mb-2">
                        <div class="col-auto">
                          <label for="" class="d-flex">버튼 라벨</label>
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" value="Price Description">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-auto">
                          <label for="" class="d-flex">외부 링크 URL</label>
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" value="Price Description">
                        </div>
                      </div>

                      <!-- line -->
                      <div class="dash-line"></div>
                      <!-- line //-->
                      <div class="row g-4 mb-2">
                        <div class="col-auto">
                          <label for="" class="d-flex"></label>
                        </div>
                        <div class="col">
                          <div class="row g-2 mb-2">
                            <p>영역영역영역영역영역영역</p>
                            <p>영역영역영역영역영역영역영역영역</p>
                          </div>
                        </div>
                      </div>
                      <div class="row g-4 mb-3">
                        <div class="col-auto">
                          <label for="" class="d-flex">화폐단위</label>
                        </div>
                        <div class="col">
                          <div class="row g-2">
                            <div class="col-auto">
                              <select class="form-select">
                                <option value="">$USD</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- 가격 버튼 1 -->
                      <div class="row g-4 mb-3">
                        <div class="col-auto">
                          <label for="" class="d-flex">가격</label>
                        </div>
                        <div class="col">
                          <div class="d-inline-block position-relative">
                            <button type="button" class="btn btn-dark">123</button>
                            <button type="button" aria-label="삭제" class="btn-item-delete"></button>
                          </div>
                          <button type="button" class="btn btn-dark">123</button>
                          <button type="button" class="btn btn-dark">123</button>
                          <button type="button" class="btn btn-dark">123</button>
                          <button type="button" class="btn btn-dark">123</button>
                          <button type="button" class="btn btn-dark">123</button>
                        </div>
                      </div>
                      <!-- 가격 버튼 1 끝 -->
                      <!-- 일시불 -->
                      <div class="row g-4 mb-3">
                        <div class="col-auto">
                          <label for="">일시불</label>
                        </div>
                        <div class="col pb-3 border-bottom">
                          <!-- <button type="button" class="btn btn-gray2"><i class="icon-plus-circle"></i></button> -->
                          <div class="row g-2">
                            <div class="col-3">
                              <input type="text" class="form-control" value="Monthly">
                            </div>
                            <div class="col-3">
                              <input type="text" class="form-control" value="1288.98">
                            </div>
                            <div class="col">
                              <select class="selectpicker w-auto" data-show-subtext="true" data-live-search="true">
                                <option data-subtext="">US$</option>
                                <option data-subtext="" disabled="disabled">\</option>
                              </select>
                            </div>
                            <div class="col-auto">
                              <input type="text" class="form-control" value="24" style="width: 60px;">
                            </div>
                            <div class="col-auto" style="width: 104px;">
                              <button type="button" class="btn btn-gray2"><i class="icon-plus"></i></button>
                              <button type="button" class="btn btn-gray2"><i class="icon-minus"></i></button>
                            </div>
                            <div class="col-6">
                              <select class="form-select">
                                <option value="">메모리</option>
                                <option value="">4 GB</option>
                                <option value="">6 GB</option>
                                <option value="">8 GB</option>
                                <option value="">12 GB</option>
                                <option value="">16 GB</option>
                                <option value="">32 GB</option>
                              </select>
                            </div>
                            <div class="col-12">
                              <input type="text" class="form-control" value="Price Description">
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- 일시불 끝 -->
                      <!-- 할부 영역 -->
                      <div class="row g-4 mb-3 ">
                        <div class="col-auto">
                          <label for="">할부</label>
                        </div>
                        <div class="col">
                          <div class="row g-2">
                            <div class="col-auto">
                              <button type="button" class="btn btn-gray2"><i class="icon-plus"></i></button>
                            </div>
                            <div class="col">
                              <div class="row g-2">
                                <div class="col-3">
                                  <input type="text" class="form-control" value="Monthly">
                                </div>
                                <div class="col-3">
                                  <input type="text" class="form-control" value="1288.98">
                                </div>
                                <div class="col">
                                  <select class="selectpicker w-auto" data-show-subtext="true" data-live-search="true">
                                    <option data-subtext="">US$</option>
                                    <option data-subtext="" disabled="disabled">\</option>
                                  </select>
                                </div>
                                <div class="col-auto">
                                  <input type="text" class="form-control" value="24" style="width: 60px;">
                                </div>
                                <div class="col-auto" style="width: 104px;">
                                  <button type="button" class="btn btn-gray2"><i class="icon-plus"></i></button>
                                  <button type="button" class="btn btn-gray2"><i class="icon-minus"></i></button>
                                </div>
                                <div class="col-6">
                                  <select class="form-select">
                                    <option value="">메모리</option>
                                    <option value="">4 GB</option>
                                    <option value="">6 GB</option>
                                    <option value="">8 GB</option>
                                    <option value="">12 GB</option>
                                    <option value="">16 GB</option>
                                    <option value="">32 GB</option>
                                  </select>
                                </div>
                                <div class="col-12">
                                  <input type="text" class="form-control" value="Price Description">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row g-2 mt-2">
                            <div class="col-auto">
                              <button type="button" class="btn btn-gray2"><i class="icon-plus"></i></button>
                            </div>
                            <div class="col">
                              <div class="row g-2">
                                <div class="col-3">
                                  <input type="text" class="form-control" value="Monthly">
                                </div>
                                <div class="col-3">
                                  <input type="text" class="form-control" value="1288.98">
                                </div>
                                <div class="col">
                                  <select class="selectpicker w-auto" data-show-subtext="true" data-live-search="true">
                                    <option data-subtext="">US$</option>
                                    <option data-subtext="" disabled="disabled">\</option>
                                  </select>
                                </div>
                                <div class="col-auto">
                                  <input type="text" class="form-control" value="24" style="width: 60px;">
                                </div>
                                <div class="col-auto" style="width: 104px;">
                                  <button type="button" class="btn btn-gray2"><i class="icon-minus"></i></button>
                                </div>
                                <div class="col-6">
                                  <select class="form-select">
                                    <option value="">메모리</option>
                                    <option value="">4 GB</option>
                                    <option value="">6 GB</option>
                                    <option value="">8 GB</option>
                                    <option value="">12 GB</option>
                                    <option value="">16 GB</option>
                                    <option value="">32 GB</option>
                                  </select>
                                </div>
                                <div class="col-12">
                                  <input type="text" class="form-control" value="Price Description">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- 할부 영역 끝 -->

                      <!-- line -->
                      <div class="dash-line"></div>
                      <!-- line //-->

                      <!-- 통신사별 가격 -->
                      <div class="row g-4 mb-3">
                        <div class="col-auto">
                          <label for="" class="d-flex">통신사별 가격</label>
                        </div>
                        <div class="col">
                          <div class="row g-5">
                            <div class="col-auto d-flex align-items-center gap-5">
                              <div class="d-flex align-items-center gap-3">
                                <div class="d-inline-block position-relative">
                                  <button type="button" class="btn btn-dark">AT&T
                                  </button>
                                  <button type="button" aria-label="삭제" class="btn-item-delete"></button>
                                </div>
                                <div class="logo-img">
                                  <img src="../assets/images/price01.png" alt="">
                                </div>
                              </div>
                            </div>
                            <div class="col-auto d-flex align-items-center gap-5">
                              <div class="d-flex align-items-center gap-3">
                                <div class="d-inline-block position-relative">
                                  <button type="button" class="btn btn-gray4">T-Mobile
                                  </button>
                                  <button type="button" aria-label="삭제" class="btn-item-delete"></button>
                                </div>
                                <div class="logo-img">
                                  <img src="../assets/images/price02.png" alt="">
                                </div>
                              </div>
                            </div>
                            <div class="col-auto">
                              <button type="button" class="btn btn-gray2" data-bs-target="#modal-carrier" data-bs-toggle="modal"><i class="icon-plus"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- 통신사별 가격 끝 -->
                      <div class="row mt-5">
                        <div class="d-flex justify-content-end">
                          <button type="button" class="btn btn-gray4 w-auto">취소</button>
                          <button type="button" class="btn btn-outline-primary w-auto mx-2" data-bs-target="#modal-preview" data-bs-toggle="modal">미리보기</button>
                          <button type="button" class="btn btn-primary w-auto ">저장</button>
                        </div>
                      </div>
                    </form> <!-- form-wrap -->
                  </div> <!-- card-body -->
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <div class="card-body card-full-scroll">
                    <div class="modal-pricedata d-flex flex-wrap flex-column">
                      <b>Price</b>
                      <b class="modal-pricedata__model mt-3">The price for <br>
                        <span>Galaxy S22</span></b>
                      <b class="mt-4">Promotion</b>
                      <div class="modal-pricedata__promImg mt-2" style="background-image: url(../assets/images/@profile.jpg);"></div>
                      <div class="modal-pricedata__promDesc mt-2 fs-6">
                        <p>Trade in and save $22.31</p>
                        <p>Early upgrade with AT&T Next Up</p>
                      </div>
                      <b class="mt-4">Choose the capacity</b>
                      <div class="modal-pricedata__capacity overflow-x-auto pb-2 w-100">
                        <div class="hstack gap-2 pt-1 flex-nowrap ">
                          <div class="col-auto position-relative">
                            <input type="radio" class="btn-check" name="capacity" id="btncheck1" autocomplete="off" checked>
                            <label class="btn btn-gray4 btn-sm" for="btncheck1">128G</label>
                            <button type="button" aria-label="삭제" class="btn-item-delete"></button>
                          </div>
                          <div class="col-auto">
                            <input type="radio" class="btn-check" name="capacity" id="btncheck2" autocomplete="off">
                            <label class="btn btn-gray4 btn-sm" for="btncheck2">256G</label>
                          </div>
                          <div class="col-auto">
                            <input type="radio" class="btn-check" name="capacity" id="btncheck3" autocomplete="off">
                            <label class="btn btn-gray4 btn-sm" for="btncheck3">512G</label>
                          </div>
                          <div class="col-auto">
                            <input type="radio" class="btn-check" name="capacity" id="btncheck4" autocomplete="off">
                            <label class="btn btn-gray4 btn-sm" for="btncheck4">1TB</label>
                          </div>
                        </div>
                      </div>
                      <b class="mt-3">가격 옵션을 선택하세요</b>
                      <div class="modal-pricedata__capacity overflow-x-auto pb-2 w-100">
                        <div class="hstack gap-2 pt-1 flex-nowrap ">
                          <div class="col-auto">
                            <input type="radio" class="btn-check" name="capacity2" id="btncheck11" autocomplete="off">
                            <label class="btn btn-gray4 btn-sm" for="btncheck11">일시불</label>
                          </div>
                          <div class="col-auto">
                            <input type="radio" class="btn-check" name="capacity2" id="btncheck22" autocomplete="off" checked>
                            <label class="btn btn-gray4 btn-sm" for="btncheck22">할부</label>
                          </div>
                        </div>
                      </div>
                      <b class="mt-3">할부선택</b>
                      <div class="modal-pricedata__capacity overflow-x-auto pb-2 w-100">
                        <div class="hstack gap-2 pt-1 flex-nowrap ">
                          <div class="col-auto">
                            <input type="radio" class="btn-check" name="capacity3" id="btncheck33" autocomplete="off" checked>
                            <label class="btn btn-gray4 btn-sm" for="btncheck33">10</label>
                          </div>
                          <div class="col-auto">
                            <input type="radio" class="btn-check" name="capacity3" id="btncheck44" autocomplete="off">
                            <label class="btn btn-gray4 btn-sm" for="btncheck44">5</label>
                          </div>
                        </div>
                      </div>
                      <b class="mt-3">메모리 옵션</b>
                      <div class="modal-pricedata__capacity overflow-x-auto pb-2 w-100">
                        <div class="hstack gap-2 pt-1 flex-nowrap ">
                          <div class="col-auto">
                            <input type="radio" class="btn-check" name="capacity4" id="btncheck55" autocomplete="off">
                            <label class="btn btn-gray4 btn-sm" for="btncheck55">8GB</label>
                          </div>
                          <div class="col-auto">
                            <input type="radio" class="btn-check" name="capacity4" id="btncheck66" autocomplete="off" checked>
                            <label class="btn btn-gray4 btn-sm" for="btncheck66">16GB</label>
                          </div>
                        </div>
                      </div>
                      <!-- <b class="mt-4 pt-2">Purchase option</b> -->
                      <div class="">
                        <b class="mt-4 fs-6 d-block">Full payment</b>
                        <b class="modal-pricedata__price mt-3">
                          $1288.90
                        </b>
                        <div class="fs-6 mt-3 pt-2">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                          Vivamus placerat sit ametex eu congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                          Vivamus placerat sit ametex eu congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                          Vivamus placerat sit ametex eu congue.
                        </div>
                        <b class="mt-4 fs-6 d-block">Monthly</b>
                        <b class="modal-pricedata__price mt-3 d-block">
                          $1288.90 <span class="fs-5">/mo</span>
                        </b>
                        <b class="modal-pricedata__month mt-2 d-block">
                          for 36 month
                        </b>
                        <div class="fs-6 mt-3 pt-2">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                          Vivamus placerat sit ametex eu congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                          Vivamus placerat sit ametex eu congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                          Vivamus placerat sit ametex eu congue.
                        </div>
                        <b class="mt-4 fs-6 d-block">Monthly</b>
                        <b class="modal-pricedata__price mt-3 d-block">
                          $1288.90 <span class="fs-5">/mo</span>
                        </b>
                        <b class="modal-pricedata__month mt-2 d-block">
                          for 12 month
                        </b>
                        <div class="fs-6 mt-3 pt-2v">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                          Vivamus placerat sit ametex eu congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                          Vivamus placerat sit ametex eu congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                          Vivamus placerat sit ametex eu congue.
                        </div>
                        <b class="mt-5 fs-6 d-block">Description</b>
                        <div class="modal-pricedata__description mt-3">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                          Vivamus placerat sit ametex eu congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                          Vivamus placerat sit ametex eu congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                          Vivamus placerat sit ametex eu congue.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- container-fluid -->
      </main> <!-- main -->
    </div>
  </div>

  @@include('@@webRoot/_include/_modal.html')

</body>

</html>