<!DOCTYPE html>
<html lang="ko">

<head>
    @@include('@@webRoot/_include/_head.html')
</head>

<body>
    <div id="wrap">

        @@include('@@webRoot/_include/_header.html')
        <div id="container">
            @@include('@@webRoot/_include/_aside.html')
            <main id="main">
                <div class="container-fluid">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><i class="icon-home"></i></li>
                            <li class="breadcrumb-item">가격 데이터 관리</li>
                            <li class="breadcrumb-item active" aria-current="page">가격 데이터 등록/관리</li>
                        </ol>
                    </nav>
                    <h1 class="page-title">가격 데이터 등록/관리</h1>
                    <div class="row">
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h2 class="header-title">가격 데이터 목록</h2>
                                    <div class="search">
                                        <div class="row gx-2">
                                            <div class="col">
                                                <select class="form-select custom">
                                                    <option selected>Subsidiary</option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <select class="form-select custom" multiple="multiple" placeholder="Country">
                                                    <option value="AR">Arabic</option>
                                                    <option value="EN">English</option>
                                                    <option value="CH">Chinese</option>
                                                    <option value="FR">French</option>
                                                    <option value="DE">German</option>
                                                    <option value="ID">Indonesian</option>
                                                    <option value="MS">Malay</option>
                                                    <option value="LT">Lithuanian</option>
                                                    <option value="PT">Portuguese</option>
                                                    <option value="RU">Russian</option>
                                                    <option value="ES">Spanish</option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <select class="form-select custom" multiple="multiple" placeholder="Channel">
                                                    @@for (var i = 1; i < 10; i++) {
                                                    <option value="Ch`+i+`">S1-Ch`+i+`</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col">
                                                <select class="form-select custom" multiple="multiple" placeholder="Device Model">
                                                    @@for (var i = 1; i < 20; i++) {
                                                    <option value="Ch`+i+`">Device Model - `+i+`</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-auto">
                                                <button type="button" class="btn btn-secondary">검색</button>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-xs btn-primary rounded-pill" data-toggle="right-card">신규등록</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 d-none" id="right-card">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h2 class="header-title">가격 데이터 상세</h2>
                                    <div class="form-wrap mt-5">
                                        <div class="row mb-2">
                                            <div class="col-auto">
                                                <label for="" class="d-flex"><span class="text-primary mx-1">*</span>Model</label>
                                            </div>
                                            <div class="col">
                                                <select class="form-select form-select-lg" aria-label="Default select">
                                                    <option selected>Galaxy S22</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                        </div>
                        
                                        <div class="row mb-2">
                                            <div class="col-auto">
                                                <label for="" class="d-flex"><span class="text-primary mx-1">*</span>Subsidiary</label>
                                            </div>
                                            <div class="col">
                                                <select class="form-select form-select-lg" aria-label="Default select">
                                                    <option selected>SEA</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                        </div>
                        
                                        <div class="row">
                                            <div class="col-auto">
                                                <label for="" class="d-flex"><span class="text-primary mx-1">*</span>Company Name</label>
                                            </div>
                                            <div class="col">
                                                <select class="form-select form-select-lg" aria-label="Default select">
                                                    <option selected>AT&T</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                                <p class="text-danger">Please change your posting time to GMT</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <label for="" class="d-flex">Posting Period</label>
                                            </div>
                                            <div class="col">
                                                <div class="row align-items-center">
                                                    <div class="col">
                                                        <input type="text" class="form-control form-control-lg " id="before-datepicker">
                                                    </div>
                                                    <div class="col-auto">
                                                        <span class="fw-bold"> ~ </span>
                                                    </div>
                                                    <div class="col">
                                                        <input type="text" class="form-control form-control-lg " id="after-datepicker">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <label for="" class="d-flex">Promotion Image</label>
                                            </div>
                                            <div class="col">
                                                <div class="image-container">
                                                    <img style="width: 500px;" id="preview-image" src="">
                                                    <input style="display: block;" type="file" id="input-image">
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- form-wrap -->
                                </div> <!-- card-body -->
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>

</html>